.signup-login-container {
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8efea;
    padding: 20px;
    box-sizing: border-box;
}

.signup-login-container .signup-box {
  display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background-color: #929fba;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  
}

.signup-login-container .signup-image {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #4a4a5a;
  color: white;
  font-family:serif;

}

.signup-login-container .signup-image img {
  max-width: 100%;
  height: auto;
}

.signup-login-container .signup-form-container {
  flex: 1;
  padding: 40px;
}

.signup-login-container .title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.signup-login-container .input-field {
  margin-bottom: 1rem;
}

.signup-login-container .signup-button {
  margin-top: 1.5rem;
  background-color: #c0a9bd;
  color: white;
}

.signup-login-container .signup-button:hover {
  background-color: #c0a9bd;
}

.signup-login-container .switch-auth {
  margin-top: 1rem;
  text-align: center;
  color :white
}

@media(min-width: 768px) {
  .signup-login-container .signup-box {
    flex-direction: row;
  }

  .signup-login-container .signup-image {
    display: flex;
    flex: 1;
  }

  .signup-login-container .signup-form-container {
    flex: 1;
  }
}
