/* RatingsBreakdown.css */
.ratings-breakdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .average-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ratings-bars-container {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .rating-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .rating-bar-container > .MuiTypography-root {
    width: 20px;
    text-align: center;
  }
  
  .MuiLinearProgress-root {
    flex-grow: 1;
    margin-left: 10px;
    height: 10px;
    border-radius: 5px;
  }
  